* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 30vh;
    color: #fff;
    font-size: 40px;
}

#submit-btn {
    padding: 15px 35px;
    font-size: 25px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

#submit-btn:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgb(41, 41, 41);

}

/* design for popup page */
.popup {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 20px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.5s, top 0.4s;
}

.open-popup {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.popup img {
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.popup h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 25px 0 20px;
}

.popup #ok {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 50px;
    outline: none;
    border: none;
    background: rgba(25, 192, 25, 0.88);
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.8s;

}

.hide-submitBtn {
    transform: scale(0.1);
    transition: transform 0.4s;
    visibility: hidden;

}


.popup #ok:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgb(41, 41, 41);
}



@media (max-width:450px) {

    /* .popup {
        left: 42%;
    }
    .open-popup {
    top: 45%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
} */
    h1 {
        font-size: 35px;
    }

}